.home {
    height: auto;
    width: 100%;
    background-color: lightgray;
    padding: 50px 0px;
}
.home .btn-shop{
    color: white;
    background-color: rgb(220, 5, 5);
    border: none;
    padding: 5px 12px;
    font-size:  18px;
    font-weight: bold;
}